#grid div{
    font-size: 30px;
    padding: 10px;
    background-color: gold;
    text-align: center;
}

#grid {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 20px;
}