.second-div {
    background-color: red;
    font-size: 20px;
    width: 300px;
    /* padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px; */
    padding: 10px 20px;

    /* border-width: 5px;
    border-style:solid;
    border-color: black; */

    /* border: 5px solid black; */
    border: 3px dashed green;

    margin:20px;
}