
.showMessages-title {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 5px;
}

.messages {
    text-align: right;
}

.showMessages-header{
    background-color: purple;
    margin-bottom: 20px;
    color: white;
}