p:hover {
    color: red;
    text-decoration: underline;
    font-size:30px;
    cursor: pointer;
}

p {
    color: blue;
    font-size:20px;
}

p:active {
    color:purple;
    text-decoration: line-through;
    font-size:18px;
}

p:visited {
    
}