a:hover {
    color: red;
    text-decoration: underline;
    font-size:30px;
    cursor: pointer;
}

a {
    color: blue;
    font-size:20px;
}

a:active {
    color:purple;
    text-decoration: line-through;
    font-size:18px;
}

a:visited {
    color: green;
}

p {
    display: none;
    background-color: yellow;
    font-size: 20px;
}

div.another-div p:first-child {
    color:red;
}

div.another-div p:last-child {
    color:pink;
}

div.another-div p:nth-child(2n + 1) {
    color:gray;
}


div:hover p{
    display:block;
}