p, h1 {
    color: red;
    font-size: 30px;
    text-decoration: overline;
    font-family: 'Times New Roman';
    line-height: 1.5;
    font-weight: 100;
    text-align: center;
}

section p {
    color: blue;
}

